.c-label1 {
    width: fit-content;
    height: 30px;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 16px;
    padding: 0 22px;
    color: #222;
    font-weight: 500;
}

.u-yellow {
    background-color: #fff799;
}

.u-pink {
    background-color: #ffdfdf;
}

.u-green {
    background-color: #a3d39c;
}
