.c-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .c-box__item {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
  }

  .c-box__img {
    position: relative;
    flex: 38%;
  }

  .c-box__img--content {
    height: 190px;
    width: 350px;
  }

  .c-box__cat {
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: center;
    font-size: 1.4rem;
    padding: 0px 22px 0 21px;
    color: #222;
    font-weight: 400;
  }

  .c-box__content {
    flex: 66%;
    margin-left: 40px;
    position: relative;
  }

  .c-box__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: -8px;
    transform: translate(-1px, 0);
    color: #222;
  }

  .c-box__des {
    font-size: 1.4rem;
    color: #222;
    max-width: 594px;
    text-align: justify;
    font-weight: 500;
    line-height: 1.43;
    margin-top: 4px;
    transform: translate(-1px, 0);
  }

  .c-box__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(175, 175, 175);
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #fff;
    bottom: 0;
    right: 0;
    transform: translate(-1px, -1px);
    font-weight: 700;
  }
}

.c-box--3 {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9px;

  .c-box__item {
    width: 30%;
    display: block;
    margin-bottom: 44px;
  }

  .c-box__img {
    position: static;
    display: block;
  }

  .c-box__img--content {
    margin-bottom: 17px;
    height: 185px;
    transform: translate(0, 0);
  }

  .c-box__cat {
    position: static;
    padding: 7px 22px 5px;
  }

  .c-box__content {
    margin-top: 17px;
    margin-left: 1px;
    position: static;
    max-width: 291px;
  }

  .c-box__des {
    margin-top: 0;
    transform: translate(-1px, -1px);
    text-align: left;
  }
}

.c-box--2 {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;

  .c-box__item {
    width: 47.5%;
    flex-direction: column;
    margin-bottom: 45px;
  }

  .c-box__img {
    display: block;
    flex: none;
    position: static;
    margin-bottom: 17px;
  }

  .c-box__img--content {
    margin-bottom: 16px;
    width: 100%;
    height: 185px;
    transform: translate(0, 0);
  }

  .c-box__cat {
    position: static;
    padding: 6px 22px;
  }

  .c-box__content {
    flex: none;
    display: block;
    position: static;
    margin-left: 0;
  }

  .c-box__des {
    margin-top: 0;
    text-align: left;
    transform: translate(0px, 0px);
  }
}

.c-box--4 {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 31px;

  .c-box__item {
    width: calc(100% / 4 - 13.5px);
    display: block;
    margin-bottom: 15px;
  }

  .c-box__img {
    flex: none;
    display: block;
    position: static;
  }

  .c-box__img--content {
    margin-bottom: 20px;
    width: 235px;
    height: 185px;
  }

  .c-box__cat {
    position: static;
    padding: 6px 23px 6px 21px;
  }

  .c-box__content {
    flex: none;
    position: static;
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }

  .c-box__des {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    transform: translate(0, 0);
  }
}

