.c-blog {
    padding: 60px 0;
    margin-bottom: 55px;

    .c-blog__title {
        background-color: #ebebeb;
        border: 1px solid #6dcff6;
        border-left: 7px solid #6dcff6;
    }
}

.c-btn__blog {
    width: 100%;
    background-color: #6dcff6;
    padding-right: 4px;
}