.c-features {
  background-color: #fafafa;
  padding: 60px 0;

  .c-features__title {
    background-color: #fff2f2;
    border: 1px solid #f68e56;
    border-left: 7px solid #f68e56;
  }
}

.c-btn__features {
  background-color: #f68e56;
  right: 0;
  margin-top: 9px;
  margin-left: 700px;
}