.c-news {
    .c-news__title {
        background-color: #fff9da;
        border: 1px solid #ffd800;
        border-left: 7px solid #ffd800;
        transform: translate(0, 1px);
        margin-bottom: 31px;
    }
    
    .c-news__link {
        margin-top: 31px;
        margin-left: 349px;
        margin-bottom: 60px;
        background-color: rgb(255, 216, 0);
    }
}
