/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    border-top: 1px solid #f4f4f4;
}
